.elderly-person {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  height: 80px;
}

.elderly-person .elderly-person-img-container {
  width: 80px;
  height: 80px;
  display: grid;
  place-items: center;
}

.elderly-person .elderly-person-img-container img {
  height: 100%;
  width: 100%;
  border-radius: 100%;
  background-color: black;
}

.elderly-person .elderly-person-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  width: 75%;
}
.elderly-person .elderly-person-info h2 {
  font-size: clamp(1.7rem, 6vw, 2.1rem);
  color: #7b2cbf;
}

.elderly-person .elderly-person-info .elderly-person-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elderly-person .elderly-person-info .elderly-person-footer p {
  font-size: 1.2rem;
  color: #666666;
  font-weight: 600;
}
