.sections-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.sections-header h2 {
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .sections-header {
    flex-direction: row;
    gap: 0;
  }
}
