.shift {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.shift.next {
  background-color: var(--shiftsBackgrounColor);
}

.shift.normal {
  background-color: transparent;
}

.shift-content {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.shift-content .shift-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.shift-content .shift-header strong {
  font-size: 1.1rem;
}

.shift.next .shift-content .shift-header strong {
  color: var(--shiftsFontColor);
}
.shift.normal .shift-content .shift-header strong {
  color: var(--primaryFontColor);
}
.shift-content .shift-header .shift-badge {
  width: 30%;
  display: grid;
  place-items: center;
  border-radius: 20px;
  color: var(--badgeFontColor);
  font-weight: 600;
  background-color: var(--shiftsFontColor);
}

.shift-content p {
  color: var(--secondaryFontColor);
  font-size: 1.1rem;
  font-weight: 500;
}
