.layout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: auto;
  width: 100vw;
}
.main-container {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 100%;
  background-color: var(--baseBackgroundColor);
}

.main-container main {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .layout {
    flex-direction: row;
    justify-content: flex-start;
  }
  .main-container {
    width: 80%;
  }
  .main-container main {
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 45px;
  }
}
