.medicine {
  width: 100%;
  height: 80px;
  border-radius: 10px;
  display: grid;
  place-items: center;
}

.medicine.next {
  background-color: var(--medicineBackgroundColor);
}
.medicine.normal {
  background-color: transparent;
}

.medicine-content {
  width: 90%;
  height: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.medicine-content .medicine-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.medicine-content .medicine-header strong {
  font-size: 1.4rem;
}
.medicine.next .medicine-content .medicine-header strong {
  color: var(--medicineFontColor);
}
.medicine.normal .medicine-content .medicine-header strong {
  color: var(--primaryFontColor);
}

.medicine-content .medicine-header .medicine-badge {
  width: 30%;
  display: grid;
  place-items: center;
  border-radius: 20px;
  color: var(--badgeFontColor);

  font-weight: 600;
  background-color: var(--medicineFontColor);
}

.medicine-content p {
  color: var(--secondaryFontColor);
  font-size: 1.1rem;
  font-weight: 500;
}
